MONGODB_URI=


# Port the Express server will listen on
PORT=

# The origin your React frontend runs on (used for CORS)
CLIENT_ORIGIN=

JWT_SECRET=
ADMIN_EMAIL=

MPESA_ENV=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_TRANSACTION_TYPE=
MPESA_CALLBACK_BASE=
MPESA_CALLBACK_SECRET=

SMTP_USER=
SMTP_PASS=
ADMIN_NOTIFY_EMAIL=


